
// Imports //

@import "screen/normalize.less";
@import "screen/animate.less";


// Global //

html, body {
	height: 100%;
}

body {
	background-color: #000;
}

#shots {
	width: 100%;
	height: 100%;
	overflow: hidden;

	.shot {
		float: left;
		width: 20%;

		.caption {
			background-color: rgba(50, 50, 50, 0.35);
			height: 30%;
			top: 100%;
			position: relative;
			overflow: hidden;
		}
	}
}